/* Fade in loader */
@keyframes fadeinall {
    0% {
      opacity: 1; }
    97% {
      opacity: 0; }
    98% {
      opacity: 0;
      -webkit-transform: translateY(0);
      transform: translateY(0); }
    99% {
      opacity: 0;
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%); }
    100% {
      opacity: 0;
      z-index: -1; } }
    #loader {
      opacity: 1;
      position: fixed;
      width: 100%;
      height: 100%;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
      background-color: #fff;
      z-index: 999;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      -webkit-animation: fadeinall 1s normal both;
      animation: fadeinall 1s normal both;
      -webkit-animation-delay: 0.3s;
      animation-delay: 0.3s; }

/* Page Styling */
body {
  background-color: #284B63;
}

#wrapper {
  margin: auto;
  text-align: center;
}

#btn_add {
  margin: 10px auto 0 auto;
}

#user_input {
  margin: auto;
}

#task_item {
  margin: 10px auto 0 auto;
  padding-left: 3%;
  font-size: 16px;
  color: white;
  background-color: #153243;
  width: 45%;
  height: 3em + 50%;
  line-height: 3em;
  text-align: left !important;
  text-indent: 10%;
  

  box-shadow: 0px 0px 5px #232b2b;
  -moz-border-radius: 15px; 
  -webkit-border-radius: 15px; 
  border-radius: 15px;
}

#task_item:hover {
  background-color: #112a38;
}

